.formInputBlock {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	gap: 2px;
	height: 80px;
	width: 300px;
	margin-bottom: 8px;
}

.formInput {
	padding: 8px 12px;
	border: 1px solid #fff4;
	border-radius: 8px;
	background: #0002;
	box-shadow: 0 0 16px #0003 inset;
	outline: none;
	color: #fff;
	font-size: 1.3rem;
	transition: 0.2s;
}

.formInput:not(:last-of-type) {
	margin-bottom: 24px;
}

.formInput:focus,
.formInput:valid {
	border: 1px solid var(--col2);
}

.formInput:invalid {
	border: 1px solid var(--col1);
}

.formInput::placeholder {
	color: #0002;
}

.formInputLabel {
	padding: 0;
	display: block;
	min-height: 21px;
	height: fit-content;
	color: #fcc;
	font-size: 11px;
}
